.card {
    display: flex;
    padding: 50px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    color: var(--color-dark);
    height: 100%;
    column-gap: 20px;

    @include desktop {
        padding: 30px;
    }

    @include mobile-s {
        padding: 15px;
    }

    &__image {
        @include square(60px);
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__description {
        @include fluid-text(16,13);
        color: var(--color-gray);
    }
}