.intro {
    max-width: 849px;
    margin-top: clamp(105px,13vw, 190px);

    &__title {
        @include fluid-text(60, 32);

        margin-bottom: 34px;

        span {
            color: var(--color-accent);
        }
    }

    &__description {
        @include fluid-text(20, 13);

        max-width: 625px;
        margin-bottom: 40px;
    }

    &__button {
        @include fluid-text(20, 16);

        padding: 25px 65px;
        border-radius: var(--border-radius);
        font-weight: 900;

        @include mobile-s {
            width: 100%;
        }
    }
}